<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício Flask</title>
</head>
<body>
    <!-- ctrl + ;= para comentar -->
    <h1>Fábrica de Programadores</h1>
    <p>Prefeitura de Santana de Parnaíba</p>
    <a href="{{url_for('sobre')}}">Sobre</a>
    <a href="{{url_for('saudacao',nome='Yasmim')}}">Saudação</a>
    <a href="{{url_for('dobro',numero='40')}}">Dobro</a>
    
    
</body>
</html>