<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício Flask</title>
</head>
<body>
    <!-- ctrl + ;= para comentar -->
    <h1>Calculadora de Soma</h1>
   
   <form acition="{{url_for('index')}}" method="POST">
        <input type="text" name="num1" placeholder="Digite um número" ><br>
        <input type="text" name="num2" placeholder="Digite outro número" ><br>
        <button type="submit">Somar</button>
   </form>
   {% if resultado is not none %}
        <p><strong>Resultado:</strong>{{resultado}}</p>
    {% endif %}

    {% if erro %}
        <p style="color:red;">{{erro}}</p>
    {% endif %}
</body>
</html>